body {
    background-color: #121212;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

#logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

#logo img {
    width: 120px;
}

#logo h1 {
    padding-left: .5em;
    font-size: 360%;
}

div.nav_bar {
    margin: 0 auto;
    margin-top: 20px;
    width: 660px;
    display: flex;
    justify-content: space-between;
}

div.nav_bar a {
    font-size: 1.2em;
    text-decoration: none;
}

div.nav_bar a {
    padding: 10px;
}

y {
    color: #ffd65b;
}

h2 {
    margin-bottom: 0;
}

h2 a {
    color: white;
    text-decoration: none;
}

embed {
    width: 230px;
    height: 565px;
    border: none;
    transform: scale(1.1);
    transform-origin: 0 0;
}

#body {
    width: 1080px;
    margin: 0 auto;
    height: auto;
}

#body h2 {
    font-size: 180%;
    font-weight: 500;
    line-height: 150%;
}

#description {
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#description div {
    width: 700px;
}

#description #popup {
    width: 253px;
    height: 621.5px;
}

p, li {
    line-height: 150%;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.unify {
    font-size: 18px;
    line-height: 16pt;
}

.menu {
    max-width: fit-content;
    max-height: fit-content;
}

.incognito {
    max-width: 100%;
    max-height: 100%;

}

ul.clear {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    color: #ffd65b;
}

.red {
    color: rgb(255, 43, 43);
}

.green {
    color: rgb(0, 207, 0);
}

a.badge {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.badge img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

a.badge_medium img {
    height: 40px;
    width: auto;
}

.mono {
    font-family: monospace;
    word-break: break-all;
}

@media only screen and (max-width: 1080px) {

    div.nav_bar {
        width: 99%;
        flex-wrap: wrap;
        justify-content: center;
    }


    #logo {
        margin-top: 20px;
    }

    #logo h1 {
        font-size: 200%;
    }

    #logo img {
        width: 100px;
        height: auto;
    }

    #body {
        width: 95%;
    }

    #description {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
}