doctype html
html(lang="en")
    head
        include widgets/head.pug

        title FAQ
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect

            include widgets/nav_bar.pug

            h2#suggest_frontend <a href="#suggest_frontend">Suggest a Frontend</a>

            p Requirements
            ol
                li Open Source
                li Enhances Privacy over main site
                li Can be self-hosted. So, It's Decentralized
                li Using it is really hard without automated redirections

            p Good Examples
            ul
                li <a href="https://github.com/zedeus/nitter" class="green">Nitter</a>
                li <a href="https://github.com/iv-org/invidious" class="green">Invidious</a>
                li <a href="https://github.com/spikecodes/libreddit" class="green">Libreddit</a>
                li <a href="https://git.sr.ht/~metalune/simplytranslate_web" class="green">SimplyTranslate</a>

            p Bad Examples
            ul
                li <a href="https://pixiv.moe/" class="red">PixivMoe</a> - It wasn't meant to be an alternative private frontend in the first place
                li <a href="https://www.startpage.com/" class="red">Startpage</a> - There's already an <a href="https://addons.mozilla.org/en-US/firefox/addon/startpage-private-search/">extension</a> for it, doesn't require automated redirections. Just set it as your default Search Engine ¯\_(ツ)_/¯
                li <a href="https://old.reddit.com/" class="red">Old Reddit</a> - There's already an <a href="https://addons.mozilla.org/en-US/firefox/addon/old-reddit-redirect/">extension</a> for it
                li <a href="https://pinafore.social/" class="red">Pinafore</a> - It's a full featured web app for <a href="https://joinmastodon.org/">Mastodon</a>, not a frontend
                li <a href="https://playsoju.netlify.app/" class="red">Soju</a> - It's just a website that gives you samples of Spotify songs, not a frontend. If you want to use it, just visit their <a href="https://playsoju.netlify.app/">website</a> and paste the spotify link you want to get a sample of.


            h2#why_forking_privacy_redirect <a href="#why_forking_privacy_redirect">Why forking Privacy Redirect?</a>
            p <a href="https://github.com/SimonBrazell/privacy-redirect">Privacy Redirect</a> hasn't been maintained since 6/12/2021. Many instances are hard coded and should be removed as they became offline and many others should be added. Many Pull Requests were just pending and waiting. So we stepped in. This was the main reason. Later though, we started improving more by adding new features and frontends.

            h2#why_all_those_permissions <a href="#why_all_those_permissions">Why all those permissions?</a>
            p let's go on them one by one:
            ul
                li <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest">webRequest</a>, <y>webRequestBlocking</y>: To block <code>http</code> requests or redirect them. Examples like, To redirect to Invidious before it can reach YouTube's servers.
                li <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage">storage</a>: To save LibRedirect's settings permanently.
                li <a href="https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/writeText">Clipboard.writeText</a> : To write original link to clipboard while using Copy Raw. This permission is used to only write data. Libredirect do not read the data in your clipboard.
                li <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies">cookies</a>: To apply settings across multiple instances. Note that we also use localStorage. Those options are disabled by default though.
                li <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/menus">menus</a>: For adding some buttons to the right click menu:
                img(class="menu", src="https://user-images.githubusercontent.com/40805353/160441937-dc0c71a9-bed1-4078-81a1-189f8ff21c0e.png")
                li  <y>&lt;all_urls&gt;</y>: LibRedirect is dynamic and customizable. The targets e.g <a href="https://youtube.com">youtube.com</a>, <a href="https://twitter.com">twitter.com</a> are written in <a href="https://en.wikipedia.org/wiki/Regular_expression">Regex</a> and are much more complicated than to be hard-coded in the manifest. Ex:  <a href="https://github.com/libredirect/libredirect/blob/95d30cb3af0bd09dcc9afb5ea508a60139777812/src/assets/javascripts/search.js#L321-L394">search Regex</a>. Further more, we need to access the instances sites too to inject some localStorage variables.
                li <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/privacy">privacy</a>: To know if the browser uses <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies#first-party_isolation">First-party isolation</a>. This is important for creating cookies that the Tor Browser will accept. btw we only read and don't modify any privacy setting.

            h2#where_the_hell_are_those_instances_coming_from <a href="#where_the_hell_are_those_instances_coming_from">Where the hell are those instances coming from?</a>
            p Every frontend project has a list of public instances. Ex: <a href="https://api.invidious.io/">Invidious' official instances list</a>, <a href="https://github.com/zedeus/nitter/wiki/Instances">Nitter's official instances list</a>. We fetch those lists using an automated <a href="https://github.com/libredirect/libredirect/blob/master/src/instances/get_instances.py">python script</a>. This script gets triggered every 3 days. We don't intercept it nor modify the lists. They're not our responsibility, they're the projects maintainers'. 

            h2#why_not_using_a_single_reputable_instance <a href="#why_not_using_a_single_reputable_instance">Why not using a single reputable instance?</a>
            p LibRedirect is just a tool. We're not here to choose for you. It's your own choice. The default setting is all instances is selected except those using Cloudflare, but you should change it by yourself.
            p We can't even know which instances are reputable for you and which aren't. The Point of views is totally different to every person. It should be your point of view, not ours..

            h2#chrome_web_store <a href="#chrome_web_store">Chrome Web Store?</a>

            p We can't publish it to the Chrome Web Store as it requires manifest v3 and we use manifest v2. You can still <a href="https://github.com/libredirect/libredirect/blob/master/chromium.md">Install</a> it though. We are planning to adapt to Manifest v3 in Firefox as they will support the feature LibRedirect needs. If other Browsers do support Mozilla Policy. You might see LibRedirect in Chrome Web Store.

            h2#why_not_manifest_v3 <a href="#why_not_manifest_v3">Why not manifest v3?</a>            

            p Read this: <a href="https://github.com/libredirect/libredirect/issues/45#issuecomment-1059010144">https://github.com/libredirect/libredirect/issues/45#issuecomment-1059010144</a>

            h2#what_is_unify_settings <a href="#what_is_unify_settings">What is Unify Settings?</a>   

            p This feature is to make the use of multiple instances consistent by unifying cookie settings such as theme, language etc...

            p You use it by visiting one of your selected instances. Go to its settings page. Change its settings. Then press the Unify Button from Popup. This will copy all the settings from the current instance to all the other selected instances.

            br 
            br
            br
