doctype html
html(lang="en")
    head
        include widgets/head.pug

        title LibRedirect
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect


            include widgets/nav_bar.pug

            h2 A web extension that redirects YouTube, Twitter, Instagram... requests to alternative privacy friendly frontends and backends

            #description
                div 
                    ul.clear
                        li
                            |YouTube =>&nbsp;
                            <a href="https://github.com/iv-org/invidious">Invidious</a>,
                            <a href="https://github.com/TeamPiped/Piped">Piped</a>,
                            <a href="https://github.com/mmjee/Piped-Material">Piped-Material</a>,
                            <a href="https://github.com/FreeTubeApp/FreeTube">FreeTube</a>,
                            <a href="https://github.com/yattee/yattee">Yattee</a>

                        li
                            |Twitter =>&nbsp;
                            <a href="https://github.com/zedeus/nitter">Nitter</a>


                        li
                            |Instagram =>&nbsp;
                            <a href="https://sr.ht/~cadence/bibliogram/">Bibliogram</a>


                        li
                            |TikTok =>&nbsp;
                            <a href="https://github.com/pablouser1/ProxiTok">ProxiTok</a>


                        li
                            |Reddit =>&nbsp;
                            <a href="https://github.com/spikecodes/libreddit">Libreddit</a>,
                            <a href="https://codeberg.org/teddit/teddit">Teddit</a>


                        li
                            |Imgur =>&nbsp;
                            <a href="https://codeberg.org/video-prize-ranch/rimgo">Rimgo</a>

                        li
                            |Wikipedia =>&nbsp;
                            <a href="https://codeberg.org/orenom/wikiless">Wikiless</a>

                        li
                            |YouTube Music =>&nbsp;
                            <a href="https://github.com/snuffyDev/Beatbump">Beatbump</a>,
                            <a href="https://codeberg.org/Hyperpipe/Hyperpipe">Hyperpipe</a>

                        li
                            |Medium =>&nbsp;
                            <a href="https://sr.ht/~edwardloveall/scribe/">Scribe</a>

                        li 
                            |Quora =>&nbsp;
                            <a href="https://github.com/zyachel/quetre">Quetre</a>

                        li
                            |Reuters =>&nbsp;
                            <a href="https://github.com/HookedBehemoth/neuters">Neuters</a>   


                        li
                            |Peertube =>&nbsp;
                            <a href="https://git.sr.ht/~metalune/simpleweb_peertube">SimpleerTube</a>


                        li
                            |LBRY/Odysee =>&nbsp;
                            <a href="https://codeberg.org/librarian/librarian">Librarian</a>

                        li 
                            |IMDb =>&nbsp;
                            <a href="https://github.com/zyachel/libremdb">libremdb</a>


                        li
                            |Search =>&nbsp;
                            <a href="https://github.com/searxng/searxng">SearXNG</a>,
                            <a href="https://searx.github.io/searx/">SearX</a>,
                            <a href="https://benbusby.com/projects/whoogle-search/">Whoogle</a>


                        li
                            |Translate =>&nbsp;
                            <a href="https://git.sr.ht/~metalune/simplytranslate_web">SimplyTranslate</a>,
                            <a href="https://github.com/TheDavidDelta/lingva-translate">LingvaTranslate</a>


                        li
                            |Maps =>&nbsp;
                            <a href="https://www.openstreetmap.org/">OpenStreetMap</a>


                        li
                            |Send Files =>&nbsp;
                            <a href="https://github.com/timvisee/send">Send</a>

                #popup
                    embed(type="text/html" src="./popup.html")

            h2 Why LibRedirect?

            p Normally you watch YouTube videos through <a href="youtube.com">youtube.com</a>'s server. Problem is everything you watch is tied to your Google Account. Even if you didn't use an account, you're IP address is still visible. Even if you used <a href="https://www.torproject.org/">Tor</a>, you still have <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a> enabled, a programming language that can get so much information about your browser and your system it's a little creepy. Just go to <a href="https://deviceinfo.me">deviceinfo.me</a> or <a href="https://www.amiunique.org">amiunique.org</a> and see how much information is available to know about you.<br>
            
            p So, why not disabling JavaScript? Great idea! Now YouTube is broken as it requires JavaScript to function ¯\_(ツ)_/¯

            p There's a way though to make a script that scraps data off of <a href="youtube.com">youtube.com</a> and presents it in a nice simple webpage that doesn't require JavaScript. People have done this already! There's a project called <a href="https://github.com/iv-org/invidious">Invidious</a> that doesn't require JavaScript for you to watch YouTube videos, ex: <a href=https://invidious.manerakai.com/watch?v=dQw4w9WgXcQ>https://invidious.manerakai.com/watch?v=dQw4w9WgXcQ</a>
            p Those (Invidious and others) are called alternative <y>Frontends</y>, where you really are still using YouTube but with a different Interface, in our case a privacy friendly one.<br>
                
            p Use an Invidious instance with JavaScript disabled + Tor, and it's almost impossible to know who watched that video.

            p The code for Invidious is open source and you can run it on your own home server or personal computer. People did this already and there's a ton of <a href="https://api.invidious.io/">Instances</a> that are basically servers running Invidious in different parts of the world.
            p Using an instance with multiple people helps to mix your data together as it only exists from one end. It's like using a shared library computer.
            p Using multiple instances (a random one each time) will also mix your data more as <a href="https://en.wikipedia.org/wiki/Logging_(software)">request logs</a> are now stored in multiple servers rather than in a single centralized one if they happen to store logs in the first place.

            p Using a random instance and changing links each time from ex:<br>
                |<x class="mono"><a href="https://youtube.com/watch?v=dQw4w9WgXcQ">https://youtube.com/watch?v=dQw4w9WgXcQ</a> => <a href="https://invidious.manerakai.com/watch?v=dQw4w9WgXcQ">https://invidious.manerakai.com/watch?v=dQw4w9WgXcQ</a></x><br> is a difficult process and best to be automated. Well, we did that!<br>
            
            p LibRedirect's main functionality is to make the use of those instances easier by automating it. It makes life much more easier and privacy more convenient.

            p <a href="./download.html">Download</a> and install it.
            p Type or click on any youtube link you want, ex: <a href="https://youtube.com/watch?v=dQw4w9WgXcQ">https://youtube.com/watch?v=dQw4w9WgXcQ</a>.<br>
                |It will automatically redirect you to a random Invidious instance. You can fine tune your redirections in the settings page.

            p Same with Twitter, Instagram, Reddit, Imgur, TikTok, Google Translate and much more!

            <br><br><br>